<div class="container" style="margin:100px auto;">
    <div class="row">
        <div class="col">
            <form action="/admin/login" method="post">
                <div class="col-md-6">
                    <label for="usuario">Usuario</label>
                    <input type="text" class="form-control" id="usuario" aria-describedby="emailHelp" name="usuario"
                        placeholder="Nombre de usuario">
                </div>
                <br>
                <div class="col-md-6">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <br>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
            {{#if error}}
            <p>Usuario o password incorrecto!</p>
            {{/if}}
        </div>
    </div>
</div>