<div class="container" style="margin:50px auto">
    <div class="row">
        <div class="col">
            <p class="text-end">
                <h1>Hola {{usuario}}!! Proximamente pagina de Novedades</h1>
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesion <i class="fas fa-sign-out-alt"></i> </a>
                </p>
        </div>
    </div>
</div>